<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Donation</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/boxicon.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="assets/css/Create_donation.css">
    
</head>

<body>

    <div id="bg">
    
        <!-- Header -->
        <nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
            <div class="container d-flex justify-content-between align-items-center">
                <a class="navbar-brand h1" href="index.html">
                    <i class='bx bx-buildings bx-sm text-dark'></i>
                    <span class="text-dark h4">Online</span> <span class="text-warning h4">Charity</span>
                </a>
                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="navbar-toggler-success">
                    <div class="flex-fill mx-xl-5 mb-2">
                        <ul class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark">
                            <li class="nav-item">
                                <a class="nav-link btn-outline-warning rounded-pill px-3" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn-outline-warning rounded-pill px-3" href="/charity">Charity</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn-outline-warning rounded-pill px-3" href="/Organization/Organization_home">Organizations</a>
        
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn-outline-warning rounded-pill px-3" href="/donate">Donate</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn-outline-warning rounded-pill px-3" href="/contact-us">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar align-self-center d-flex">
                        <a class="nav-link" href="#"><i class='bx bx-bell bx-sm bx-tada-hover text-dark'></i></a>
                        <a class="nav-link" href="#"><i class='bx bx-cog bx-sm text-dark'></i></a>
                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown"><i class='bx bx-user-circle bx-sm text-dark'></i></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/login-page" id="login">Login</a></li>
                            <li><a class="dropdown-item" href="/my-profile" id="profile">Profile</a></li>
                            <li><a class="dropdown-item" href="/logout" id="logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        
        
        
        </div>

        <div id="popup-1" class="container">
            <div id="header">


                <header>Create Donation</header>
                

            </div>

            <form action="#">
                <div class="createDonation">
                    <div >


                        <div class="fields">
                            <table class="table">

                                <tbody>
                                    <tr>
                                        <th scope="row">Donation ID</th>                                      
                                        </td>
                                        <td class="input-field">
                                            <input type="text" placeholder="Enter Donation ID" />
                                        </td>
                                        <th scope="row">Organization ID</th>                                      
                                        </td>
                                        <td class="input-field">
                                            <input type="text" placeholder="Enter Donation ID" />
                                        </td>

                                    </tr>

                                    <tr>
                                        <th scope="row">Date Posted</th>                                      
                                        </td>
                                        <td class="input-field">
                                            <input type="date" />
                                        </td>
                                        <th scope="row">Date Ending</th>                                      
                                        </td>
                                        <td class="input-field">
                                            <input type="date" />
                                        </td>

                                    </tr>

                                    <tr>
                                        <th scope="row">Items needed</th>                                      
                                        </td>
                                        <td class="input-field">
                                            <select id="items" name="items">
                                                <option value="Cash">Cash</option>
                                                <option value="Food">Food</option>
                                                <option value="Hygiene products">Hygiene products</option>
                                                <option value="Clothes">Clothes</option>
                                                <option value="Books">Books</option>
                                                <option value="Toys">Toys</option>                                           
                                                <option value="Gadgets">Gadgets</option>
                                                <option value="Homeware">Homeware</option>
                                            </select>

                                        </td>
                                    </tr>                               
                                </tbody>                          
                            </table>
                        </div>
                    </div>

                    <button class="submit">
                        <span class="btnText">Submit</span>
                        
                    </button>
                </div>

            
                </div>
            </form>
        </div>
</body>


</html>